// This is where your styles can go, import any other scss or css files here or write your own style directly below

@font-face {
  src: url('../fonts/Circular/CircularStd-Book.ttf');
  font-family: 'Circular';
}

@font-face {
  src: url('../fonts/Circular/CircularStd-BookItalic.ttf');
  font-family: 'Circular';
  font-style: italic;
}

@font-face {
  src: url('../fonts/Circular/CircularStd-Bold.ttf');
  font-family: 'Circular';
  font-weight: bold;
}

html {
  background-color: rgb(30,30,30);
}

body,
body * {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Circular';
  color: #3D3D3D;
  display: flex;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.container-block {
  height: 100vh;
  width: 50vw;
}

#cb-right {
  background-color: #1E1E1E;
  @media only screen and (max-width: 900px) {
    height: calc(100vh - 250px) !important;
    width: 100vw;
  }
}

#cb-left {
  background-color: white;
  display: block;
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

#startup-logo {
  width: 25%;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 75%;
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

#header {
  display: inline-flex;
  padding: 30px 0 0 40px;
  img {
    height: 30px;
  }
}

.scadpro-logo {
  margin-left: 20px;
}

#center {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  display: block;
  width: 50vw;
  p{
    text-align: center;
    display: block;
  }
}

.emoji {
  font-size: 50px;
  height: auto;
}

#countdown-container {
  padding-top: 15px;
}

.countdown {
  font-size: 20px;
  display: inline-flex;
  height: auto;
  vertical-align: middle;
  p {
    padding-top: 15px;
  }
}


.countdown-num {
  padding: 0 7px 0 15px;
  font-size: 35px;
  font-weight: bold;
}

#days, #hours, #minutes, #seconds {
  color: #D13F91;
}

.seconds {
  color: #1D57E5;
}

#footer {
  position: absolute;
  width: 50vw;
  bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.arrow {
  transition: .3s;
  position: absolute;
  padding-left: 0px;
}

#link-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  a {
    margin: 0;
    text-decoration: none;
    color: #3D3D3D;
  }
  a:hover {
    .arrow {
      padding-left: 7px;
    }
  }
}

#cb-mobile {
  display: none;
  height: 220px;
  width: 100vw;
  background-color: white;
  position: absolute;
  bottom: 0px;
  @media only screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}
#mobile-content {
  width: 100vw;
  display: flex;
  padding: 0 40px;
  margin-top: 25px;
  font-size: 20px;
  a {
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    padding-bottom: 20px;
    div {
      margin: 0;
      margin-left: 5px;
    }
  }
}

#mobile-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    flex-direction: row;
    a {
      margin: 0;
    }
    img {
      height: 30px;
    }
}

#mobile-upper {
  display: none;
  position: absolute;
  transform: translate(-50%, 0);
  padding: 30px;
  left: 50%;
  height: calc(100vh - 250px);
  justify-content: space-evenly;
  .mobile-startup-logo {
    height: 150px;
  }
  .emoji {
    font-size: 35px;
  }
  .countdown {
    p{
      color: white;
      font-size: 15px;
    }
    .countdown-num {
      color: white;
      padding: 0 7px 0 0px;
    }
  }
  @media only screen and (max-width: 900px) {
    display: flex;
  }
}

.c-container {
  display: inline-flex;
  flex-direction: row;
  margin: 0;
  p, .countdown-num {
    margin: 0;
  }
  p {
    padding-top: 20px;
  }
}